footer {
  display: flex;
  padding: 10px;
  gap: 20px;
}

footer > figure {
  width: 50px;
  order: 2;
}
footer > figure > img {
  width: 100%;
}

footer > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  justify-content: center;
}
