@import "../src/components/search/searchform.css";
@import "../src/components/footer/footer.css";

a {
  text-decoration: none;
  color: inherit;
}

.main-content {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
}

.main-content > aside {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(210, 79%, 96%);
  box-shadow: 1px 3px 5px 1px rgb(167, 167, 167);
  justify-content: space-around;
}

.router-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  max-height: calc(100vh - 64px);
}

.router-content > main {
  flex: 1;
}
