@import "./App.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
}

.main-content > .side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 10vh;
  box-shadow: 1px 3px 5px 1px rgb(167, 167, 167);
}

.main-content > section {
  display: flex;
  flex-direction: column;
  flex: 4;
}
